<div class="template-password">
	<div class="container">
		<div class="text-center" id="container">
			<div>
				<div id="login">
					<div>
						<div class="logo mb-4">
							<a [routerLink]="['/home/fashion']">
								<img alt="shop_fashion" class="img-fluid" src="assets/images/icon/logo.png">
							</a>
						</div>
						<h2 class="mb-3">
							Will be Opening Soon!
						</h2>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<form action="#" class="theme-form">
								<div class="col-md-12 mt-2">
									<h3>Enter Your Email:</h3>
								</div>
								<div class="form-row">
									<div class="col-md-12">
										<input autofocus="" class="form-control" id="password" name="password"
										       type="password">
									</div>
									<div class="col-md-12">
										<div class="actions">
											<button class="btn btn-solid" type="submit">notify me</button>
										</div>
									</div>
								</div>

							</form>
						</div>
					</div>
					<div class="mt-4" id="footer">
						<div id="owner">
							Are you the store owner?
							<a href="#">Log in here</a>
							or
							<a href="#">change your password settings</a>
						</div>
					</div>
				</div>
				<div id="powered">
					<p>© 2021, Powered by MultiShop.</p>
				</div>
			</div>
		</div>
	</div>
</div>
