//fonts
$font_0: Lato;
$font_1: sans-serif;
$font-themify: themify;
$font-awesome: FontAwesome;
$assetspath: "/assets/images";

//colors
$white: #FFFFFF;
$white-dark: #EEEEEE;
$black: #000000;
$dark-font: #222222;
$grey-dark: #2D2A25;
$font-color: #333333;
$grey: #777777;
$grey-light: #A1A1A1;
$border: #DDDADA;
$round-border: #DDDDDD;
$grey-lighter: #F9F9F9;
$theme-deafult: #A527F6;
$grey-darken: #393230;
$grey-link: #948E8C;
$grey-font: #938D8C;
$dark-footer: #2E2726;
$form-bg: #F5F2F2;
$grey-shade: #7F786D;
$darker-footer: #25221E;
$border-color: #38352F;
$border-grey: #F1F5F4;
$font-grey: #AAAAAA;
$star-yellow: #FFA200;
$border-bottom-g: #525252;
$top-header: #F8F8F8;
$header-font: #999999;
$shadow: #EDEDED;
$box-border: rgba(236, 236, 236, 0.6588235294117647);
$grey-about: #F7F7F7;
$grey2: #555555;
$grey3: #EFEFEF;
$grey4: #444444;
$grey5: #888888;
$grey6: #6F6F6F;
$sidebar-border: #F5F2F2;
$sidebar-color: #938D8C;
$modal: #FFBA00;
$bg-color: #D0EDFF;
$bg-color1: #F1E7E6;
$bg-color2: #BFBFBF;
$light-grey: #D0EDFF;
$light-grey: #D0EDFF;
$pink: #FFC0CB;
$red: #FF647F;
$green: #6FB866;
$yellow: #F2F896;
$skyblue: #7EE7EC;
$blue: #63B4F2;
$orange: #FFB17A;
$purple: #EEB1D7;
$violet: #A06DA0;
$brown: #A57372;
$lightgreen: #90EE90;
$olive: #808000;
$navy: #505C80;
$maroon: #804F56;
$icon: #6F6F6F;
$grey-about: #F7F7F7;
$grey01: #111111;
$grey2: #555555;
$grey3: #EFEFEF;
$grey4: #444444;
$grey5: #888888;
$grey6: #6F6F6F;
$grey7: #40494F;
$grey8: #C0C0C0;
$left-sidebar: #2B2B2B;
$dark-body: #2B2B2B;
$dark-top: #1F1F1F;
$color-red: #FF4C3B;
$gradient1: #01EFFC;
$gradient2: #485FF2;

// dark layput variable //
$dark-body: #2B2B2B;
$dark-top: #232323;
$dark-border: #404040;
$dark-link: #CBCBCB;
$dark-span: #929292;
$dark-footer-bg: #383838;

$white-1: #F1F3F5;
$white-2: #EAEDEF;
$white-3: #E7EAEC;
$white-4: #DEE2E6;
$white-5: #CFD4DA;
